# EURO_GOALS v8.7_SM - Requirements

fastapi==0.115.0
uvicorn==0.30.3
apscheduler==3.10.4
requests==2.32.3
python-dotenv==1.0.1
SQLAlchemy==2.0.34
pydantic==2.8.2
gunicorn==23.0.0
jinja2
beautifulsoup4==4.12.3
psutil
sqlalchemy
psycopg2-binary
openpyxl
